<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>702667988118-2qq352dda9sisarqrqdt93u6an017nch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702667988118-2qq352dda9sisarqrqdt93u6an017nch</string>
	<key>API_KEY</key>
	<string>AIzaSyAKSyNNXLaxqOXUoElLyC3LS_ewkc8ldmc</string>
	<key>GCM_SENDER_ID</key>
	<string>702667988118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>min.minmed.compass</string>
	<key>PROJECT_ID</key>
	<string>compass-81e7a</string>
	<key>STORAGE_BUCKET</key>
	<string>compass-81e7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702667988118:ios:ad2a29358e9f92bd</string>
	<key>DATABASE_URL</key>
	<string>https://compass-81e7a.firebaseio.com</string>
</dict>
</plist>